page-cart {
    .fixed-content,
    .scroll-content {
        background: #eee;
        .product {
            border: 1px solid #ccc;
            margin: 5px 0;
            width: 100%;
            height: 95px;
            position: relative;
            -webkit-transition: margin .2s linear, opacity .2s linear;
            -moz-transition: margin .2s linear, opacity .2s linear;
            -ms-transition: margin .2s linear, opacity .2s linear;
            -o-transition: margin .2s linear, opacity .2s linear;
            transition: margin .2s linear, opacity .2s linear;
            h1 {
                color: #53b5aa;
                font-size: 19px;
                font-weight: 300;
                margin: 12px 0 20px 0;
            }
            header {
                margin: 0 1% 20px 0;
                overflow: hidden;
                padding: 0;
                position: relative;
                width: 26%;
                height: 95px;
                position: absolute;
                left: 0;
            }
            .content {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 50px;
                padding: 0 7px;
                width: 73%;
                background-color: #fff;
                position: absolute;
                right: 0;
                top: 0;
            }
            footer.content-foot {
                background-color: #fff;
                height: 40px;
                
                padding: 0 7px;
                width: 73%;
                padding: 0;
                position: absolute;
                bottom: 0 !important;
                right: 0;
                .item-count{
                     max-height: 40px !important;
                }
                .price{
                    background: #53b5aa;
                    color: #fff;
                     font-size: 18px;
                    font-weight: 300;
                    height: 40px;
                    text-align: right;
                    line-height: 30px;
                }
                .qty {
                    
                    button{
                         font-size: 17px;
                         margin: 0 !important;
                         height: 37px !important;
                         line-height: 20px;
                    }
                }
            }
        }
    }
}