// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//Side Menu Styles
body {
     color: #555555 !important;
}

ion-content.dark {
     .fixed-content,
     .scroll-content {
          background: #ECECE2;
     }
}

ion-menu {
     .menu-inner {
          ion-content {
               .fixed-content,
               .scroll-content {
                    padding-top: 4rem;
                    background: color($colors, primary);
                    ion-list {
                         .item,
                         .item-block,
                         .item-ios {
                              background: none;
                              border: none !important;
                              color: #eef4fa;
                              .item-inner {
                                   padding-left: 1.5rem;
                              }
                         }
                         .menu-divider {
                              padding-left: 18px;
                              font-size: 3vh;
                         }
                    }
               }
          }
     }
}

.card {
     border-radius: 2px;
     font-size: 1.4rem;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.border-bottom {
     border-bottom: 1px solid #e4e4e4;
}

.text-white {
     color: #fff;
}